.input{
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
}   

.input__label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #7E84A3;
}
.input__field{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 2px solid #ECF2FF;
    border-radius: 6px;
}

.input__field:hover{
    border: 2px solid #A1A7C4;
}
.input__field:focus{
    border: 2px solid #7E84A3;
}
.input__field:active{
    border: 2px solid #7E84A3;
}

.error{
    border: 2px solid #F34359;
    background: #FDE7EA;
}
.correct{
    border: 2px solid #25E191;
    background: #DAF9EC;
}