
.button{
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: #F5F6FA;
    border-radius: 8px;
}

.button:hover{
    background: #E6E9F4;

}


.button-primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    border-radius: 6px;
    color: #fff;
    background: #1E5EFF;
    border: none;
}