.modal__container{
    z-index: 100;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.modal__group-input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}