:root{
    --primary-color: #1890FF;
    --primary-1-color: #E6F7FF;
    --primary-2-color: #F0F5FF;
    --neutral-6-color: #BFBFBF;
    --neutral-7-color: #8C8C8C;
    --black-color: #121212;
    --white-color: #fff;
}

*{
    padding: 0;
    margin: 0;
}

.popup{
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

html{
    scrollbar-gutter: stable both-edges;
}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-thumb {
    background: #D7DBEC;
    border-radius: 10px;
}
html::-webkit-resizer {
    display: none;
}


.week-dots-container{
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.week-dots__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}

.week-dots-container__dot{
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: var(--neutral-6-color);
}

.active{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: var(--primary-color);
}

.day-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    width: 36px;
    box-sizing: border-box;

}

.today{
    border: 1px solid var(--primary-color);
}

.day-conatiner:hover{
    background-color: var(--primary-1-color);
    cursor: pointer;
}



.day{
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--neutral-6-color);
}

.day-number{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black-color);
}
.week-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.subect__container{
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
}

.subject__time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.subject__number{
    font-weight: 700;
    font-size: 16px;
    color: var(--primary-color);
}

.time__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
}

.subject__main-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.time{
    font-weight: 500;
    font-size: 12px;
    color: var(--neutral-7-color);
}

.subject{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.subject__title{
    font-weight: 500;
    font-size: 12px;
    color: var(--black-color);
}

.subject__teacher{
    font-size: 10px;
    color: var(--neutral-7-color);
}

.subject__type{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;

    background: #1890FF;
    border-radius: 100px;   
    font-weight: 500;
    font-size: 10px;
    text-transform: lowercase;
    color: var(--white-color);

}

.arrow-container{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.arrow-container:hover{
    background-color: var(--primary-2-color);
    cursor: pointer;
}

.day-subjects__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subject-list{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.primary{
    color: var(--primary-color);
}

.selected{
    background: var(--primary-2-color);
}

.close-button{
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: #F5F6FA;
    border-radius: 8px;
}

.close-button:hover{
    background: #E6E9F4;

}

.notification{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    background: rgba(241, 43, 67,0.1);
    border-radius: 8px;
    justify-content: space-between;
}

.hide{
    display: none;
}

.notification__text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.notification__title{
    font-size: 14px;
    font-weight: 500;
    color: #F0142F;
}

.notification__text{
    font-size: 12px;
    color: #5A607F;
    font-weight: 400;
    font-size: 14px;
}

.notification__main-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
}